
<app-navbar></app-navbar>

<br>



<div class="container">
        <button class="btn btn-secondary" routerLink="/products">Back to Products</button>

        <br>
        <br>

        <h1>Title: {{ book.title }} </h1>
        <h3>Author: {{ book.author }}</h3>
        <h4>ISBN: {{ book.ISBN }} </h4>
        <img src="{{ book.image }}" class="img-fluid img-thumbnail" alt="">
        <hr class="dotted">
        <h2>Summary</h2>
        <p> {{ book.summary }} </p>
        <hr class="dotted">

        <h4> {{ book.price.displayValue | currency:'EUR' }} / {{ book.price.displayValue * 1.18 | currency:'USD' }}</h4>

        <br>
        <button class="btn btn-primary">Add to my Library</button>
        <br>
        <br>
</div>