<div class="body">
    <app-navbar></app-navbar>
    <section class="row-section">
        <div class="container">
            <div class="row">
                <h2 class="text-center"><span>Reading Listing</span>For (username placeholder)</h2>
            </div>
            <div class="col-md-10 offset-md-1 row-block">
                <ul id="sortable">
                    <li>
                        <div class="media">
                            <div class="media-left align-self-center">
                                <img class="rounded-circle" src="" alt="Book cover image">
                            </div>
                            <div class="media-body">
                                <h4>Book title</h4>
                                <p>Book description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            </div>
                            <div class="media-right align-self-center">
                                <a href="#">Remove | </a>
                                <a href="#">Delete</a>
                            </div>
                        </div>
                    </li>




                </ul>
            </div>
        </div>