.body {
    width: 100%;
    background-image: url("/assets/images/photo-1507842217343-583bb7270b66.jfif");
    
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bigger-text {
    font-size: 64px;
}